@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin:0;
    border: none;
}

/* heading and image section */
img {
    height: 500px;
    width: 100%;
}

.banner {
    position: relative;
    text-align: center;
    color: yellow;
}

#banner-image {
    position: relative;
}

#banner-text {
    position: absolute;
    color: white;
    top: 30%;
    bottom: 70%;
    margin-left: 7.5%;
    font-size: 100px;
    font-family: Chelsea Market, sans-serif;
    /* changing the top, bottom values allowed me center the text better as it was off when i increased the size */
}

/* naviagtion section */
nav {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    margin: 20px;
    padding: 20px;
    color: black;
}


nav a:hover {
    text-decoration: underline;
    text-transform: capitalize;
    margin: 30px;
    padding: 30px;
    color: purple;
    font-weight: bold;
}