@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin:0;
    border: none;
}

/* heading and image section */

h1 {
    float: left;
} 

.image-text-container {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    width: 100%;
    background-color: white;
}

.image-text-container img {
   height: 300px; 
}

.image-text-container h2 {
    margin: 20px;
    padding: 20px;
    color:blue;
}

.image-text-container p {
    color: red; 
}

/* naviagtion section */ 

 nav {
    float: right
 }
nav a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Chelsea Market, sans-serif;
}


nav a:hover {
    text-decoration: underline;
    text-transform: capitalize;
    color: purple;
    font-weight: bold;
}